  <div class="container-post all-container">
    <div class="container-post-left">
      <input type="file" class="fileInput">
      <button id="postBtn">Đăng Bài</button>
    </div>
    <div class="container-post-right">
      <div class="title" style="margin-top: 50px;">Tên sản phẩm</div>
      <input type="text" class="inputName" placeholder="Sách...">
      <div class="title">Tình trạng (Mới/Cũ)</div>
      <input type="text" class="inputState" placeholder="VD: Cũ">
      <div class="title">Năm xuất bản</div>
      <input type="number" class="inputYear" placeholder="VD: 2025">
      <div class="title">Trường Đại Học</div>
      <input type="text" class="inputSchool" placeholder="VD: KMA">
      <div class="title">Mô tả sản phẩm</div>
      <input type="text" class="inputDes" placeholder="Nhập thêm thông tin về sản phẩm ở đây...">
    </div>
    <script src="javascript/post.js"></script>
</div>
