<div class="footer-container">
    <div class="footer-container-box1">
        <div class="pic"></div>
        <div class="text">Ái Trà</div>
    </div>
    <div class="footer-container-box2">
        <div class="text">Về chúng tôi</div>
        <div class="text">Điều khoản sử dụng</div>
        <div class="text">Chính sách bảo mật</div>
        <div class="text">Liên hệ</div>
    </div>
    <div class="footer-container-box3">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
    <div class="footer-container-box4">
        © 2025 MovieLand. By Tuan Dat, Kim Thinh, Thu Trang, Phuong Quynh
    </div>
    <script>
    const currentPath = window.location.pathname;

    if (currentPath === "/login") {
        document.querySelector(".footer-container").style.display = "none";
    }
    </script>
    <script src="javascript/footer.js"></script>
</div>